<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Utente</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h2>Ciao, {{ session['username'] }}</h2>
    <h3>Appuntamenti Futuri</h3>

    {% if appointments %}
      <table>
        <thead>
          <tr>
            <th>Servizio</th>
            <th>Data</th>
            <th>Ora</th>
            <th>Azioni</th>
          </tr>
        </thead>
        <tbody>
          {% for appointment in appointments %}
          <tr>
            <td>{{ appointment[1] }}</td> <!-- Servizio -->
            <td>{{ appointment[2] }}</td> <!-- Data -->
            <td>{{ appointment[3] }}</td> <!-- Ora -->
            <td>
              <a href="{{ url_for('edit_appointment', appointment_id=appointment[0]) }}">
                <button class="big-btn">Modifica</button>
              </a>
              <button class="delete-appointment big-btn" data-id="{{ appointment[0] }}" style="background-color: #7b2f3c; color: white;">Elimina</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Non hai appuntamenti futuri.</p>
    {% endif %}

    <!-- Bottoni separati per uomo/donna -->
    <a href="{{ url_for('book') }}"><button class="big-btn">Prenota appuntamento uomo</button></a>
    <a href="{{ url_for('book_hair') }}"><button class="big-btn">Prenota appuntamento donna</button></a>

    <a href="{{ url_for('user_history') }}"><button class="big-btn"> Storico Appuntamenti</button></a>
    <a href="{{ url_for('account') }}"><button class="big-btn">👤 Il mio profilo</button></a>
    <a href="{{ url_for('logout') }}"><button class="logout-btn">Logout</button></a>
    <a href="{{ url_for('index') }}">Torna alla Home</a>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
